body{
	background: #f0f0f0;
}

.top{
	width: 100%;
	height: 24px;
	line-height:24px;
	background: #000000;
	color: #fff;
	
}
.top a{
	font-size: 12px;
	color: #fff;
}
.top span{
	font-size: 12px;
}

.top-main{
	width: 1024px;
	margin: 0 auto;
	
	
}
.language{
	width: 76px;
	height: 24px;
	color: #FFFFFF;
	margin-left: 20px;
}
.language a{
	display: block;
	width: 16px;
	height: 16px;
	background: red;
	text-align: center;
	line-height: 16px;
	margin-top: 4px;
	border-radius: 2px;
	font-size: 10px;
}
.language a:nth-of-type(2){
	background: #656565;
	margin-left: 5px;
	
}


.log a{
	display: inline;
	margin-left: 19px;
	padding-left: 10px;
	background: url(../images/dot.png) left center no-repeat;
	color: green;
}
.log a:nth-of-type(3){
	background: none;
	color: #fff;
}
.log a:nth-of-type(2){
	display: none;
}

nav{
	width: 100%;
	height: 40px;
	
	background: url(../images/nav_bg.png) repeat-x;
	border-bottom: 1px solid #fff;
}
.nav-main{
	width: 1024px;
	margin: 0 auto;
}

nav .logo{
	width: 108px;
	height: 40px;
	text-align: center;
	float: left;
	border-right: 1px solid #c0c0c0;
}

nav .logo img{
	height: 26px;
	padding-top: 7px;
}
nav ul{
	float: left;
	
}
nav ul li{
	float: left;
	width: 84px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c0c0c0;
	position: relative;
}
.navlist{
	line-height: 40px;
}
nav ul li img{
	height: 30px;
	padding-top: 5px;
	
}

nav ul li>a{
	color: black;
	display: block;
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
}
nav li>a:hover{
	background: url(../images/menu_bg_hover.png) repeat-x;
	color: red;
	transition: all 0.8s;
	
}
nav .nav1{
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 10;
	width: 615px;
	display: none;
	

}

nav .nav2{
	min-height: 200px;
	height: auto!important;
	height: 200px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 65px;
	width: 100%;
	
	z-index: 5;
	display: none;
	background: #fff;
	}
	
nav .nav1 dl{
	
		width: 142px;
		float: left;
		border-left: 1px solid #ddd;
		padding-left: 10px;
		margin-top: 30px;
	}
nav .nav1 dl dd{
	line-height: 20px;
	font-size: 12px;
}
nav .nav1 dl dt{
	font-size: 18px;
	font-weight: 900;
}
nav .nav1 dl a{
	color: black;
}

nav .navul2 li:nth-of-type(4){
	width: 41px;
	height: 41px;
	background: red;
	margin-left: 10px;
	position: relative;
}

nav .navul2 li i{
	display: block;
	width: 41px;
	height: 41px;
	background:url(../images/public.png) no-repeat 10px 10px;
}

nav .navul2 li .search{
	width: 300px;
	height: 46px;
	position: absolute;
	left: -280px;
	top: 41px;
	background:#ddd;
	z-index: 10;
	display: none;
}
nav .navul2 li .search input{
	height: 22px;
	margin-top: 10px;
	margin-left: 4px;
	line-height: 22px;
	text-indent: 10px;
	width: 225px;
	float: left;
}
nav .navul2 li .search button{
	width: 50px;
	height: 36px;
	background:red;
	margin-top: 10px;
	line-height: 36px;
	border: 0;
	float: right;
	text-align: center;
	margin-right: 5px;
	
}
/*
.banner{
	width: 100%;
	height: 474px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.pic{
	position: absolute;
	
}

.banner .pic li{
	
	
	float: left;
}
.banner .pic li img{
	height: 474px;
	float: left;
	width: 100%;
}

.banner .list{
	position: absolute;
	bottom: 20px;
	width: 90px;
	left: 50%;
	margin-left: -45px;
}

.banner .list li{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #ddd;
	float: left;
	margin-left: 10px;
}

.banner .list .banlist{
	background: red;
}
*/
.banner{
	width:100%;
	height:474px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.banner .pic{
	position: absolute;
	left: 0 ;
	top: 0;
}

.banner .pic li{
	
	height: 474px;
	float: left;
}
.banner .pic li img{
	width: 100%;
	height:474px;
	border: 0;
	float: left;
}

.banner .list{
	position: absolute;
	top:80%;
	left: 45%;
}
.banner .list li{
	width: 20px;
	height: 20px;
	background: gray;
	float: left;
	margin-left: 10px;
	border-radius: 30px;
}
.banner .list .banlist{
	background: red;
}


nav .navul1 li:hover .nav1{
	display: block;
}









footer{
	width: 940px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	
}
footer div{
	margin-top: 15px;
	width: 100%;
	height: 24px;
	
}

footer div a{
	padding: 0 10px;
	border-right: 1px solid black;
	font-size: 12px;
	color: black;
}
footer div a:nth-of-type(6){
	border: 0;
}

footer p{
	margin-top: 5px;
}




.cnbox{
	width: 940px;
	min-height: 600px;
	height: auto!important;
	height: 600px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px 30px;
}
.cnbox:after{
	content: ",";
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}


.cnbox .box{
	width: 200px;
	height: 310px;
	padding: 10px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 33px;
	margin-top: 20px;
	box-sizing: border-box;
}
.cnbox .box .middleimg img{
	width: 180px;
	height: 180px;
}
.cnbox .box .minimg{
	width: 100%;
	height: 40px;
}
.cnbox .box .minimg li{
	width: 28px;
	height: 28px;
	float: left;
	margin-left: 2px;
	padding: 1px;
	border: 1px solid #ddd;
}

.cnbox .box .minimg li img{
	width: 28px;
	height: 28px;
	border: 0;
	text-align: center;
}

.cnbox .cpzs{
	padding: 0 10px;
	line-height: 32px;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.cnbox p{
	width: 100%;
	height: 30px;
	color: red;
	font-size: 20px;
	line-height: 30px;
}
.cnbox p span{
	font-size: 16px;
}
.cnbox .box h4{
	height: 18px;
	font-weight: 100;
	margin-top: 3px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cnbox .box h4 a {
	font-size: 12px;
	color: black;
}
.cnbox .cpzs a{
	color: black;
	font-size: 18px;
	padding: 0 10px;
	margin-left: 10px;
}
.cnbox .cpzs a:nth-of-type(1){
	border-right: 1px solid black;
}

.cnbox .basketball{
	padding: 15px 0;
	font-size: 20px;
}
