.banner{
	width: 100%;
	height: 474px;
	
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.pic{
	position: absolute;
	
}

.banner .pic li{
	
	
	float: left;
}
.banner .pic li img{
	height: 474px;
	float: left;
	width: 100%;
}

.banner .list{
	position: absolute;
	bottom: 20px;
	width: 90px;
	left: 50%;
	margin-left: -45px;
}

.banner .list li{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #ddd;
	float: left;
	margin-left: 10px;
}

.banner .list .banlist{
	background: red;
}

.content{
	margin-top: 20px;
	width: 100%;
	height: 310px;
}
.content-pic{
	
	width: 940px;
	margin: 0 auto;
	background: red;
}

.content-pic dl{
	float: left;
}

.content-pic dl dt {
	width: 300px;
	height: 226px;
	overflow: hidden;
}
.content-pic dl dt img{
	width: 300px;
	
}


.content-pic dl dd{
	width: 300px;
	text-align: center;
	position: relative;
	font-size: 18px;
}

.content-pic dl dd span{
	font-size: 32px;
	font-weight: 900;
	line-height: 60px;
	
}

.content-pic dl dd strong{
	display: block;
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background: #DDD;
	color: #FFF;
	position: absolute;
	left: 95px;
	margin-top: 3px;
	
}

.content-pic dl dd a{
	color: black;
}

.content-pic dl dd a:hover{
	transition: all 0.5s; 
	color: red;
}
.content-pic dl dd a:hover strong{
	background: red;
}

.content-pic dl dt:hover img{
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}
.callus{
	margin-top: 10px;
	width:940px;
	margin: 0 auto;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	
}

.callus1{
	
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	font-size: 24px;
	margin-top: 10px;
}


.callus span{
	float: left;
}


.callus .callus1 a {
	
	height: 36px;
	width: 36px;
	float: left;
	margin-left: 10px;
}

#more{
	display: block;
	width: 66px;
	height: 24px;
	color: black;
	text-align: center;
	line-height: 27px;
	
	
	margin-top: 5px;
	background: url(../images/share_more_bg.png) no-repeat center;
}

#more:hover{
	transition: all 0.5s;
	color: red;
	line-height: 29px;
}
.callus2 {
	width: 940px;
	margin: 0 auto;
	height: 200px;
	margin-top: 10px;
	border-bottom: 2px solid #fff;
}

.callus2 dl{
	width: 107px;
	height: 125px;
	text-align: center;
	float: left;
}

.callus2 dl dt img{
	width: 56px;
	height: 56px;
}
.callus2 dl dd{
	font-size: 12px;
	
}

.callus2 dl dd em{
	font-family:'iconfont' ;
}

@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.callus2 dl dt a{
	width: 60px;
	height: 60px;
	display:block;
	padding: 2px;
	border: 2px solid greenyellow;
	position: relative;
	left: 15px;
}


.callus2 dl dt .check{
	width: 12px;
	height: 12px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: url(../images/check.gif) no-repeat;
}

.callus3{
	width: 100%;
	text-align: center;
}

.callus3 a:nth-of-type(1){
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background: greenyellow;
	margin-right: 20px;
}

.callus3 a:nth-of-type(2):hover{
	text-decoration: underline;
	
}













